<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>スターバックス西舞子店</key>
	<dict>
		<key>description</key>
		<string>神戸市側から明石海峡大橋を眺めることができるR2号線沿いのスタバです。
淡路市側から眺めることができる淡路SA店の景色もキレイですがこちらもなかなかのものです。ドライブスルーもありますがぜひこの店はイートインしてみてください！！</string>
		<key>image</key>
		<string>Sutaba.jpg</string>
		<key>latitude</key>
		<string>34.639891</string>
		<key>longitude</key>
		<string>135.025079</string>
	</dict>
	<key>ゆきの</key>
	<dict>
		<key>description</key>
		<string>こじんまりしたお店です。
ご夫婦でされていると思うのですが、阿吽の呼吸で淡々と仕事されています。
お客さんも静かに召し上がり、さっさと帰っていく感じです。
そうしないといけない雰囲気があるのかも。
まず、美しいです。
うどんは勿論ですが、ご主人の動きが素晴らしい。
カウンター越しに見ていると、うどんを茹で、てんぷらを揚げ、盛り付けていく。
注文を無駄な動きなく、こなしていく姿。
本当に美しいです。

うどんの太さ、硬さ、しなやかさ。
お出汁の味、盛り付け全てが私は大好きです。
お勧めのうどんは？と聞かれたら真っ先に「ゆきの」さんの名前が出てしまいます。うどんも勿論のことながらこのお店はかやくご飯がマジで世界一うまいです。人気すぎて営業から二時間ほどでなくなってしまいます。死ぬまでに必ず食べてください。</string>
		<key>image</key>
		<string>Yukino.jpg</string>
		<key>latitude</key>
		<string>34.621279</string>
		<key>longitude</key>
		<string>135.520418</string>
	</dict>
	<key>天ぷら大吉</key>
	<dict>
		<key>description</key>
		<string>深夜から朝にかけて営業するまさに「深夜食堂」のような不思議な営業形態、それにも関わらず行列が絶えることのない人気の天ぷら屋、もはや堺の名物店。

営業時間前に到着したにも関わらず、駐車場は満車、入店までもおよそ2時間近く待ちました。
まあ土曜日の夜なのでこの営業時間ならば金土あたりが混むのは当然なので特に苦もなく。

駐車場も満車でどうしようと思いましたが、この辺は少し離れたら近隣にコインパーキングが沢山ありますし、深夜は1時間100円のところが多いので問題なしです(^^)

並ぶ価値がそこまであるのかと、そのあたりは人によるとは思うのですが、個人的には非常に幅広い種類のネタを取り揃えており、値段も安く美味しいために人気も納得のお店で、並ぶ価値は大いにあったと感じました。

【天ぷらの盛り合わせ2000円コース(15品)】
[太刀魚・明太子・オクラ・チーズ竹輪・ガッチョ・ジャガ芋・鶏肉・鮪・ほたて・鱚・蟹爪・まいたけ・ウインナー・うずら・鱧]

【追加5品】
[南瓜・穴子・鱈白子・紅生姜・鮪]

【あさりの味噌汁+ご飯(中)】

深夜の揚げ物の悪魔じみた美味さたるや。
ご飯なんか止まりません。
さくさくの衣、大根おろしたっぷりの天つゆでいただく天ぷらはまさに絶品。
色々食べたかったてのはありましたがちょっと頼みすぎましたね。
天丼はかなり安いので、ただがっつりとお腹を満たすだけならばそっちのがお得ですね。

盛り合わせはざっくりと盛られて来るために、何が乗っているのかわかりませんし、見ただけではわからないものもありました。
メニュー表を見ながら、あ、なるほどこれねとわかるので問題ないですが。
様々なものを通常単品で頼むよりもお得ですので複数人でシェアするのもいい感じですね(^^)
そして盛り合わせにはなく、食べたいものは追加で頼む感じで。

鮪の天ぷら、明太子の天ぷらは初体験でした。
明太子の天ぷらが美味しくてびっくり。
王道のネタから変わり種までとにかく幅広く、そしてどれも美味しい。
食べたいやつはあらかた食べれて満足すぎました。

人気のあさりの味噌汁、このあさりの貝殻を何故か床に落とすのが定番みたいで、落とさなくても全然食べれるのですが、せっかくなのでポイポイしときました。
お隣さんの貝殻が飛んできました。
全てを許しましょう、美味しいものは人を寛大にさせます</string>
		<key>image</key>
		<string>TempraDaikichi.jpg</string>
		<key>latitude</key>
		<string>34.581405</string>
		<key>longitude</key>
		<string>135.466182</string>
	</dict>
	<key>ゴッホ</key>
	<dict>
		<key>description</key>
		<string>大阪市の東住吉区にある南田辺西交差点の北側で、東住吉山坂郵便局付近のマンションの１階に位置する。
外観は赤いファサードが周りに溶け込んだ佇まいで、ドイツの国旗のような配色の看板が掲げられている。

店内は厨房に存在感のある大きな石窯が鎮座しており、奥にイートインできるスペースも併設されている。
パンはハード系から惣菜パンまで約１２０種類で、次々に石窯で焼き上げられていて充実した内容である。

名物の牛肉ゴロゴロカレーパンはカリッと揚げられており、もちもちとした生地にカレーが包まれている。
具が大きくて辛みがスパイシーな自家製のカレーで、角切りの牛バラ肉がごろりと入った仕上がりである。

カレーはじっくりと４時間煮込んで作られており、牛肉と野菜に１０種類の香辛料が合わせられている。
一晩寝かせて引き出されたコクがまろやかで、フィリングは少なめながらも生地との相性が抜群である。

レーズンとくるみにはゴルゴンゾーラも入っており、生地の水分がしっかり保たれてふんわりとしている。
生地はきめ細かくて引きの強さを楽しめる食感で、レーズンとくるみにチーズが相まって風味豊かである。

ベーグルパンプキンはふっくらしたシンプルな生地で、パンプキンシードがたっぷり散りばめられている。
生地の表面はしっとりとしていて柔らかいものの、むっちりした優しい弾力とほのかな甘みが感じられる。

全国各地でパン屋をプロデュースするオーナーで、カレーパンは２年半研究したこだわりが伝わってくる。
テラス席が用意されていて駐車場も完備されており、リーズナブルな価格で親しみやすい印象の店である</string>
		<key>image</key>
		<string>Gogh.jpeg</string>
		<key>latitude</key>
		<string>34.621143</string>
		<key>longitude</key>
		<string>135.522095</string>
	</dict>
	<key>くそオヤジ最後のひとふり</key>
	<dict>
		<key>description</key>
		<string>大阪で一番人気な店に伺うも長蛇の列に屈し、姉妹店とされるコチラへ…
店に到着しますと当然店内は満席で外待ちは１６名、折角ですので最後尾に接続。
心なしか女性客の姿が多く見られたのは気のせいでしょうか？
およそ３０分ほどの待ち時間を経て店内へとご案内。
メニューは『しじみ』・『あさり』・『はまぐり』の３種類にトッピングといったシンプルな構成。
間髪入れずに『はまぐりらーめん』をオーダーです。

スープはビジュアル通り序盤はコクまろな醤油ダレが主導権を握り、蛤の出汁感はややマスクされじんわり。食べ進むにつれ醤油ダレの強さは気にならなくなりましたが、関西らしからぬ濃いめな味に若干違和感を覚えながらも気付けばレンゲが止まらない始末。動物系は鶏油だけなのでしょうか？物足りなさは皆無であと味は思いのほかスッキリ。

麺は全粒粉配合で平打ち状の中太ストレート麺。
この太さは意外でしたがコシのある食感を楽しめ啜り心地も申し分なし。
小麦の風味もしっかりと感じられスープとの相性も良好。</string>
		<key>image</key>
		<string>kusooyaji.jpg</string>
		<key>latitude</key>
		<string>34.72092</string>
		<key>longitude</key>
		<string>135.481589</string>
	</dict>
	<key>Moalboal</key>
	<dict>
		<key>description</key>
		<string>モアルボアルの説明</string>
		<key>image</key>
		<string>Moalboal.png</string>
		<key>latitude</key>
		<string>10</string>
		<key>longitude</key>
		<string>123</string>
	</dict>
	<key>Ayala</key>
	<dict>
		<key>description</key>
		<string>アヤラの説明</string>
		<key>image</key>
		<string>ayala.png</string>
		<key>latitude</key>
		<string>10</string>
		<key>longitude</key>
		<string>123</string>
	</dict>
</dict>
</plist>
